{% extends "base.html" %}
{% block content %}

<div class="user-update-links">
    <a class="btn btn-light password-update" href="{% url 'password_update' request.user.id %}">Update Password</a>
    <a class="btn btn-light user-delete" href="{% url 'user_delete' request.user.id %}">Delete Account</a>
</div>

<div class="user-update">
    <h1>Profile Update</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-light submit" type="submit" value="Update">
    </form>
</div>

{% endblock %}
